/JAVA_SCRIPT/TP2/webpack-demo/node_modules
/JAVA_SCRIPT/TP2/webpack-demo/dist
/JAVA_SCRIPT/TP2/webpack-demo/.env
/JAVA_SCRIPT/TP3/tp-webpack/node_modules
/JAVA_SCRIPT/TP3/tp-webpack/dist
/JAVA_SCRIPT/TP3/tp-webpack/.env
